DB連線-資料上傳

In [ ]:
##excel file
import pandas as pd


df_file = pd.read_excel('./file/20250224-C.xlsx',header = None)
# 確認日期
date = df_file.iat[1,1]
date = date.replace('日期:','').replace('年','/').replace('月','/').replace('日','')
date_list = date.split('/')
year=str(int(date_list[0])+1911)
date = year+'/'+date_list[1]+'/'+date_list[2]

df_file = df_file.iloc[4:,1:]

In [ ]:
## csv file
import pandas as pd


# 日期處理（從第 2 行讀取日期）
with open('./file/RSta0113.20250303-C.csv', 'r', encoding='cp950') as f:
    lines = f.readlines()
    raw_date = lines[1].split(',')[1].strip()
    print(raw_date)

df = pd.read_csv('./file/RSta0113.20250303-C.csv', encoding='cp950',skiprows=2, header=None)
df = df.iloc[2:,1:]

日期:114年03月03日

1     object
2     object
3     object
4     object
5     object
6     object
7     object
8     object
9     object
10    object
11    object
12    object
13    object
14    object
15    object
dtype: object

In [ ]:

# # 把 BODY 開頭的資料列抓出來
# body_rows = df[df[0] == 'BODY'].copy()

# # 重設 index 並移除前綴欄位
# body_rows = body_rows.reset_index(drop=True)
# body_rows = body_rows.iloc[:, 1:]  # 移除 'BODY' 欄

In [32]:
import pandas as pd
import pyodbc as sql

server = 'localhost,1433' 
database = 'ReportDb' 
username = 'sa' 
password = 'Password123' 
connectionString = f'DRIVER={{ODBC Driver 18 for SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password};Encrypt=yes;TrustServerCertificate=yes;'
conn = sql.connect(connectionString)

connectionString

'DRIVER={ODBC Driver 18 for SQL Server};SERVER=localhost,1433;DATABASE=ReportDb;UID=sa;PWD=Password123;Encrypt=yes;TrustServerCertificate=yes;'

In [33]:

SQL_STATEMENT = """
INSERT INTO ConvertibleBondDaily 
(dataDate, id, name, trade_type, closing_price, change_price, open_price, high_price, low_price,
    trade_count, unit_count, total_amount, avg_price, next_ref_price, next_limit_up, next_limit_down) 
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
"""




for index, row in df_file.iterrows():
    print(index,": ",sep="")
    if not (pd.isnull(row[1])):
        if (row[1] == "合計"):
            break
        try:
            cursor = conn.cursor()
            cursor.execute(SQL_STATEMENT,
            date,
            row[1],  # id
            row[2] if pd.notnull(row[2]) else None,  # name
            row[3] if pd.notnull(row[3]) else None,  # trade_type
            float(row[4]) if pd.notnull(row[4]) else None,  # closing_price
            float(row[5]) if pd.notnull(row[5]) else None,  # change_price
            float(row[6]) if pd.notnull(row[6]) else None,  # open_price
            float(row[7]) if pd.notnull(row[7]) else None,  # high_price
            float(row[8]) if pd.notnull(row[8]) else None,  # low_price
            int(row[9].strip().replace(",","")) if pd.notnull(row[9]) else None,  # trade_count
            int(row[10].strip().replace(",","")) if pd.notnull(row[10]) else None,  # unit_count
            int(row[11].strip().replace(",","")) if pd.notnull(row[11]) else None,  # total_amount
            float(row[12]) if pd.notnull(row[12]) else None,  # avg_price
            float(row[13]) if pd.notnull(row[13]) else None,  # next_ref_price
            float(row[14]) if pd.notnull(row[14]) else None,  # next_limit_up
            float(row[15]) if pd.notnull(row[15]) else None  # next_limit_down
            )
            print("INSERT SUCCEED")
            conn.commit()
        except Exception as e:
            print(f"Error encountered while processing row {index}")
            print(f"Row data: {row}")
            print(f"Error: {str(e)}")
            break
        

conn.commit()
conn.close()

4:
INSERT SUCCEED
5:
6:
INSERT SUCCEED
7:
8:
INSERT SUCCEED
9:
10:
INSERT SUCCEED
11:
12:
INSERT SUCCEED
13:
14:
INSERT SUCCEED
15:
16:
INSERT SUCCEED
17:
18:
INSERT SUCCEED
19:
20:
INSERT SUCCEED
21:
22:
INSERT SUCCEED
23:
24:
INSERT SUCCEED
25:
26:
INSERT SUCCEED
27:
28:
INSERT SUCCEED
29:
30:
INSERT SUCCEED
31:
32:
INSERT SUCCEED
33:
34:
INSERT SUCCEED
35:
36:
INSERT SUCCEED
37:
38:
INSERT SUCCEED
39:
40:
INSERT SUCCEED
41:
42:
INSERT SUCCEED
43:
44:
INSERT SUCCEED
45:
46:
INSERT SUCCEED
47:
48:
INSERT SUCCEED
49:
50:
INSERT SUCCEED
51:
52:
INSERT SUCCEED
53:
54:
INSERT SUCCEED
55:
56:
INSERT SUCCEED
57:
58:
INSERT SUCCEED
59:
60:
INSERT SUCCEED
61:
62:
INSERT SUCCEED
63:
64:
INSERT SUCCEED
65:
66:
INSERT SUCCEED
67:
68:
INSERT SUCCEED
69:
70:
INSERT SUCCEED
71:
72:
INSERT SUCCEED
73:
74:
INSERT SUCCEED
75:
76:
INSERT SUCCEED
77:
78:
INSERT SUCCEED
79:
80:
INSERT SUCCEED
81:
82:
INSERT SUCCEED
83:
84:
INSERT SUCCEED
85:
86:
INSERT SUCCEED
87:
88:
INSERT SUCCEED
89:
90:
INSERT SUCCEED
91:
92:
INSERT SUCCEED
93:
94:
INSERT SUCCEED
95:
96:
INSERT SUCCEED
97:
98:
INSERT SUCCEED
99:
100:
INSERT SUCCEED
101:
102:
INSERT SUCCEED
103:
104:
INSERT SUCCEED
105:
106:
INSERT SUCCEED
107:
108:
INSERT SUCCEED
109:
110:
INSERT SUCCEED
111:
112:
INSERT SUCCEED
113:
114:
INSERT SUCCEED
115:
116:
INSERT SUCCEED
117:
118:
INSERT SUCCEED
119:
120:
INSERT SUCCEED
121:
122:
INSERT SUCCEED
123:
124:
INSERT SUCCEED
125:
126:
INSERT SUCCEED
127:
128:
INSERT SUCCEED
129:
130:
INSERT SUCCEED
131:
132:
INSERT SUCCEED
133:
134:
INSERT SUCCEED
135:
136:
INSERT SUCCEED
137:
138:
INSERT SUCCEED
139:
140:
INSERT SUCCEED
141:
142:
INSERT SUCCEED
143:
144:
INSERT SUCCEED
145:
146:
INSERT SUCCEED
147:
148:
INSERT SUCCEED
149:
150:
INSERT SUCCEED
151:
152:
INSERT SUCCEED
153:
154:
INSERT SUCCEED
155:
156:
INSERT SUCCEED
157:
158:
INSERT SUCCEED
159:
160:
INSERT SUCCEED
161:
162:
INSERT SUCCEED
163:
164:
INSERT SUCCEED
165:
166:
INSERT SUCCEED
167:
168:
INSERT SUCCEED
169:
170:
INSERT SUCCEED
171:
172:
INSERT SUCCEED
173:
174:
INSERT SUCCEED
175:
176:
INSERT SUCCEED
177:
178:
INSERT SUCCEED
179:
180:
INSERT SUCCEED
181:
182:
INSERT SUCCEED
183:
184:
INSERT SUCCEED
185:
186:
INSERT SUCCEED
187:
188:
INSERT SUCCEED
189:
190:
INSERT SUCCEED
191:
192:
INSERT SUCCEED
193:
194:
INSERT SUCCEED
195:
196:
INSERT SUCCEED
197:
198:
INSERT SUCCEED
199:
200:
INSERT SUCCEED
201:
202:
INSERT SUCCEED
203:
204:
INSERT SUCCEED
205:
206:
INSERT SUCCEED
207:
208:
INSERT SUCCEED
209:
210:
INSERT SUCCEED
211:
212:
INSERT SUCCEED
213:
214:
INSERT SUCCEED
215:
216:
INSERT SUCCEED
217:
218:
INSERT SUCCEED
219:
220:
INSERT SUCCEED
221:
222:
INSERT SUCCEED
223:
224:
INSERT SUCCEED
225:
226:
INSERT SUCCEED
227:
228:
INSERT SUCCEED
229:
230:
INSERT SUCCEED
231:
232:
INSERT SUCCEED
233:
234:
INSERT SUCCEED
235:
236:
INSERT SUCCEED
237:
238:
INSERT SUCCEED
239:
240:
INSERT SUCCEED
241:
242:
INSERT SUCCEED
243:
244:
INSERT SUCCEED
245:
246:
INSERT SUCCEED
247:
248:
INSERT SUCCEED
249:
250:
INSERT SUCCEED
251:
252:
INSERT SUCCEED
253:
254:
INSERT SUCCEED
255:
256:
INSERT SUCCEED
257:
258:
INSERT SUCCEED
259:
260:
INSERT SUCCEED
261:
262:
INSERT SUCCEED
263:
264:
INSERT SUCCEED
265:
266:
INSERT SUCCEED
267:
268:
INSERT SUCCEED
269:
270:
INSERT SUCCEED
271:
272:
INSERT SUCCEED
273:
274:
INSERT SUCCEED
275:
276:
INSERT SUCCEED
277:
278:
INSERT SUCCEED
279:
280:
INSERT SUCCEED
281:
282:
INSERT SUCCEED
283:
284:
INSERT SUCCEED
285:
286:
INSERT SUCCEED
287:
288:
INSERT SUCCEED
289:
290:
INSERT SUCCEED
291:
292:
INSERT SUCCEED
293:
294:
INSERT SUCCEED
295:
296:
INSERT SUCCEED
297:
298:
INSERT SUCCEED
299:
300:
INSERT SUCCEED
301:
302:
INSERT SUCCEED
303:
304:
INSERT SUCCEED
305:
306:
INSERT SUCCEED
307:
308:
INSERT SUCCEED
309:
310:
INSERT SUCCEED
311:
312:
INSERT SUCCEED
313:
314:
INSERT SUCCEED
315:
316:
INSERT SUCCEED
317:
318:
INSERT SUCCEED
319:
320:
INSERT SUCCEED
321:
322:
INSERT SUCCEED
323:
324:
INSERT SUCCEED
325:
326:
INSERT SUCCEED
327:
328:
INSERT SUCCEED
329:
330:
INSERT SUCCEED
331:
332:
INSERT SUCCEED
333:
334:
INSERT SUCCEED
335:
336:
INSERT SUCCEED
337:
338:
INSERT SUCCEED
339:
340:
INSERT SUCCEED
341:
342:
INSERT SUCCEED
343:
344:
INSERT SUCCEED
345:
346:
INSERT SUCCEED
347:
348:
INSERT SUCCEED
349:
350:
INSERT SUCCEED
351:
352:
INSERT SUCCEED
353:
354:
INSERT SUCCEED
355:
356:
INSERT SUCCEED
357:
358:
INSERT SUCCEED
359:
360:
INSERT SUCCEED
361:
362:
INSERT SUCCEED
363:
364:
INSERT SUCCEED
365:
366:
INSERT SUCCEED
367:
368:
INSERT SUCCEED
369:
370:
INSERT SUCCEED
371:
372:
INSERT SUCCEED
373:
374:
INSERT SUCCEED
375:
376:
INSERT SUCCEED
377:
378:
INSERT SUCCEED
379:
380:
INSERT SUCCEED
381:
382:
INSERT SUCCEED
383:
384:
INSERT SUCCEED
385:
386:
INSERT SUCCEED
387:
388:
INSERT SUCCEED
389:
390:
INSERT SUCCEED
391:
392:
INSERT SUCCEED
393:
394:
INSERT SUCCEED
395:
396:
INSERT SUCCEED
397:
398:
INSERT SUCCEED
399:
400:
INSERT SUCCEED
401:
402:
INSERT SUCCEED
403:
404:
INSERT SUCCEED
405:
406:
INSERT SUCCEED
407:
408:
INSERT SUCCEED
409:
410:
INSERT SUCCEED
411:
412:
INSERT SUCCEED
413:
414:
INSERT SUCCEED
415:
416:
INSERT SUCCEED
417:
418:
INSERT SUCCEED
419:
420:
INSERT SUCCEED
421:
422:
INSERT SUCCEED
423:
424:
INSERT SUCCEED
425:
426:
INSERT SUCCEED
427:
428:
INSERT SUCCEED
429:
430:
INSERT SUCCEED
431:
432:
INSERT SUCCEED
433:
434:
INSERT SUCCEED
435:
436:
INSERT SUCCEED
437:
438:
INSERT SUCCEED
439:
440:
INSERT SUCCEED
441:
442:
INSERT SUCCEED
443:
444:
INSERT SUCCEED
445:
446:
INSERT SUCCEED
447:
448:
INSERT SUCCEED
449:
450:
INSERT SUCCEED
451:
452:
INSERT SUCCEED
453:
454:
INSERT SUCCEED
455:
456:
INSERT SUCCEED
457:
458:
INSERT SUCCEED
459:
460:
INSERT SUCCEED
461:
462:
INSERT SUCCEED
463:
464:
INSERT SUCCEED
465:
466:
INSERT SUCCEED
467:
468:
INSERT SUCCEED
469:
470:
INSERT SUCCEED
471:
472:
INSERT SUCCEED
473:
474:
INSERT SUCCEED
475:
476:
INSERT SUCCEED
477:
478:
INSERT SUCCEED
479:
480:
INSERT SUCCEED
481:
482:
INSERT SUCCEED
483:
484:
INSERT SUCCEED
485:
486:
INSERT SUCCEED
487:
488:
INSERT SUCCEED
489:
490:
INSERT SUCCEED
491:
492:
INSERT SUCCEED
493:
494:
INSERT SUCCEED
495:
496:
INSERT SUCCEED
497:
498:
INSERT SUCCEED
499:
500:
INSERT SUCCEED
501:
502:
INSERT SUCCEED
503:
504:
INSERT SUCCEED
505:
506:
INSERT SUCCEED
507:
508:
INSERT SUCCEED
509:
510:
INSERT SUCCEED
511:
512:
INSERT SUCCEED
513:
514:
INSERT SUCCEED
515:
516:
INSERT SUCCEED
517:
518:
INSERT SUCCEED
519:
520:
INSERT SUCCEED
521:
522:
INSERT SUCCEED
523:
524:
INSERT SUCCEED
525:
526:
INSERT SUCCEED
527:
528:
INSERT SUCCEED
529:
530:
INSERT SUCCEED
531:
532:
INSERT SUCCEED
533:
534:
INSERT SUCCEED
535:
536:
INSERT SUCCEED
537:
538:
INSERT SUCCEED
539:
540:
INSERT SUCCEED
541:
542:
INSERT SUCCEED
543:
544:
INSERT SUCCEED
545:
546:
INSERT SUCCEED
547:
548:
INSERT SUCCEED
549:
550:
INSERT SUCCEED
551:
552:
INSERT SUCCEED
553:
554:
INSERT SUCCEED
555:
556:
INSERT SUCCEED
557:
558:
INSERT SUCCEED
559:
560:
INSERT SUCCEED
561:
562:
INSERT SUCCEED
563:
564:
INSERT SUCCEED
565:
566:
INSERT SUCCEED
567:
568:
INSERT SUCCEED
569:
570:
INSERT SUCCEED
571:
572:
INSERT SUCCEED
573:
574:
INSERT SUCCEED
575:
576:
INSERT SUCCEED
577:
578:
INSERT SUCCEED
579:
580:
INSERT SUCCEED
581:
582:
INSERT SUCCEED
583:
584:
INSERT SUCCEED
585:
586:
INSERT SUCCEED
587:
588:
INSERT SUCCEED
589:
590:
INSERT SUCCEED
591:
592:
INSERT SUCCEED
593:
594:
INSERT SUCCEED
595:
596:
INSERT SUCCEED
597:
598:
INSERT SUCCEED
599:
600:
INSERT SUCCEED
601:
602:
INSERT SUCCEED
603:
604:
INSERT SUCCEED
605:
606:
INSERT SUCCEED
607:
608:
INSERT SUCCEED
609:
610:
INSERT SUCCEED
611:
612:
INSERT SUCCEED
613:
614:
INSERT SUCCEED
615:
616:
INSERT SUCCEED
617:
618:
INSERT SUCCEED
619:
620:
INSERT SUCCEED
621:
622:
INSERT SUCCEED
623:
624:
INSERT SUCCEED
625:
626:
INSERT SUCCEED
627:
628:
INSERT SUCCEED
629:
630:
INSERT SUCCEED
631:
632:
INSERT SUCCEED
633:
634:
INSERT SUCCEED
635:
636:
INSERT SUCCEED
637:
638:
INSERT SUCCEED
639:
640:
INSERT SUCCEED
641:
642:
INSERT SUCCEED
643:
644:
INSERT SUCCEED
645:
646:
INSERT SUCCEED
647:
648:
INSERT SUCCEED
649:
650:
INSERT SUCCEED
651:
652:
INSERT SUCCEED
653:
654:
INSERT SUCCEED
655:
656:
INSERT SUCCEED
657:
658:
INSERT SUCCEED
659:
660:

工作日

In [ ]:
# python 3.x
import datetime
import pandas as pd

start = datetime.datetime.strptime("2021/01/01", "%Y/%m/%d")
end = datetime.datetime.strptime("2030/12/31", "%Y/%m/%d")
# date = pd.date_range(start, end)
# day = pd.date_range(start, end)
# date=date.strftime("%Y/%m/%d")
# day=day.strftime("%w")

# df_date = pd.DataFrame(date, columns=['Date'])
# df_day = pd.DataFrame(day, columns=['DayOfWeek'])

# # 使用 pd.concat() 橫向合併
# df = pd.concat([df_date, df_day], axis=1)

In [ ]:
import pandas as pd
import pyodbc as sql

server = 'localhost,1433' 
database = 'ReportDb' 
username = 'sa' 
password = 'Password123' 
connectionString = f'DRIVER={{ODBC Driver 18 for SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password};Encrypt=yes;TrustServerCertificate=yes;'
conn = sql.connect(connectionString)

SQL_STATEMENT = """
INSERT INTO Date 
(Date,Day) 
VALUES (?,?)
"""




for index, row in df.iterrows():
    print(index,": ",sep="")
    try:
        cursor = conn.cursor()
        cursor.execute(SQL_STATEMENT,
        row[0],
        row[1])
        print("INSERT SUCCEED")
        conn.commit()
    except Exception as e:
        print(f"Error encountered while processing row {index}")
        print(f"Row data: {row}")
        print(f"Error: {str(e)}")
        break
    

conn.commit()

In [ ]:
import pandas as pd
import pyodbc as sql

server = 'localhost,1433' 
database = 'ReportDb' 
username = 'sa' 
password = 'Password123' 
connectionString = f'DRIVER={{ODBC Driver 18 for SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password};Encrypt=yes;TrustServerCertificate=yes;'
conn = sql.connect(connectionString)

sql_query = """
                    SELECT 
            dataDate, 
            id, 
            name, 
            trade_type, 
            closing_price, 
            change_price, 
            open_price, 
            high_price, 
            low_price,
            trade_count, 
            unit_count, 
            total_amount, 
            avg_price, 
            next_ref_price, 
            next_limit_up, 
            next_limit_down
        FROM ConvertibleBondDaily
        """
        

df = pd.read_sql(sql_query,conn)

table = df.to_dict(orient="records")

for row in table:
    print(row["id"])

In [ ]:
import pandas as pd
import pyodbc as sql

server = 'localhost,1433' 
database = 'ReportDb' 
username = 'sa' 
password = 'Password123' 
connectionString = f'DRIVER={{ODBC Driver 18 for SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password};Encrypt=yes;TrustServerCertificate=yes;'
conn = sql.connect(connectionString)
try:
    sql_query = """                                                
                        SELECT Top(1) [Date]
                        FROM [ReportDb].[dbo].[Date]
                        Where [Day] <>  '0' and [Day] <> '6' and [Date] <= GETDATE()
                        ORDER BY [Date] DESC
                        """

    df = pd.read_sql(sql_query, conn)
    result = df["Date"][0]
    print(str(result))

        
except Exception as e:
    print(f"Database query error: {e}")

finally:
    conn.close()

In [ ]:
import pandas as pd
import pyodbc as sql

server = 'localhost,1433' 
database = 'ReportDb' 
username = 'sa' 
password = 'Password123' 
connectionString = f'DRIVER={{ODBC Driver 18 for SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password};Encrypt=yes;TrustServerCertificate=yes;'
conn = sql.connect(connectionString)
try:
    SQL_STATEMENT = """
                        INSERT INTO ConvertibleBondDaily_upload_log
                        VALUES ("""+"'2025-04-02'"+ """,GETDATE()) 
                        """

    cursor = conn.cursor()
    cursor.execute(SQL_STATEMENT)
    conn.commit()
except Exception as e:
    print(f"Error encountered while processing")
    print(f"Error: {str(e)}")

finally:
    conn.close()